/* Footer */
.footer {
   background-color: #1f2123;
   margin: 0;
}

.footer__content {
   display: flex;
   width: 100%;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

/* TOP */
.footer__nav {
   display: flex;
   margin: 2rem 0;
}

.footer__item a {
   text-transform: uppercase;
   font-size: 2rem;
   margin: 0 1rem;
}

/* MEDIUM  */
.footer__social {
   display: flex;
   margin: 2rem 0;
}

.footer__item {
   margin: 0 2rem;
   font-size: 3rem;
}

/* BOTTOM */
.footer__copy {
   text-transform: uppercase;
   font-size: 0.7rem;
   letter-spacing: 2px;
}

.footer__copy a {
   text-decoration: underline;
}

/*--- Media Query ---*/
@media (max-width: 1050px) {
   .footer__nav li a {
      font-size: 1.2rem;
   }
}
