/* Footer */
.footer {
   background-color: #1f2123;
   margin: 0;
}

.footer__content {
   display: flex;
   width: 100%;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

/* TOP */
.footer-nav {
   display: flex;
   margin: 2rem 0;
}

.footer-nav li a {
   text-transform: uppercase;
   font-size: 2rem;
   margin: 0 1rem;
}

/* MEDIUM  */
.footer__social {
   display: flex;
   margin: 2rem 0;
}

.footer__social .desktop-li-item {
   margin: 0 2rem;
   font-size: 3rem;
}

/* BOTTOM */
.copy {
   text-transform: uppercase;
   font-size: 0.7rem;
   letter-spacing: 2px;
}

.copy a {
   text-decoration: underline;
}

/*--- Media Query ---*/
@media (max-width: 1050px) {
   .footer-nav li a {
      font-size: 1.2rem;
   }
}
