/* Home - Hero btn cta */
.header__btn--main {
   position: relative;
   display: inline-block;
   padding: 1rem 1.5rem;
   font-size: 2rem;
   color: var(--color-secondary);
   border: 5px solid var(--color-secondary);
   border-radius: 10px;
   overflow: hidden;
   text-transform: uppercase;
}

.header__btn--main::after {
   content: "";
   width: 0%;
   height: 110%;
   border-radius: 10px;
   left: -10px;
   top: 0;
   background-color: var(--color-primary);
   position: absolute;
   transition: all 0.5s ease;
   z-index: -1;
}

.header__btn--main:hover::after {
   width: 120%;
}

/* Home - Membership membership__plans buttons */
.membership__btn {
   background-color: var(--color-primary);
   color: white;
   padding: 1rem 10rem;
   display: inline-block;
   margin: 1rem 0 3rem 0;
   border-radius: 10px;
}

.membership__btn:hover {
   background-color: #be4612;
}

/* Locations - local btns */
.btn-local {
   background-color: var(--color-primary);
   width: 100%;
   display: inline-block;
   text-transform: uppercase;
   padding: 1rem;
   transition: all 0.3s ease-in-out;
}

.local:hover .btn-local {
   background-color: #d64e13;
}

/*--- MOBILE---*/
.header__icon-menu {
   border: none;
   background-color: transparent;
   cursor: pointer;
   font-size: 3rem;
   display: none;
}

.header__btn--openNav {
   top: 10px;
   left: 10px;
}

.fas {
   color: white;
}

.header__btn--closeNav {
   position: absolute;
   right: 12px;
   top: 12px;
}

/*--- Media Query ---*/
@media (max-width: 350px) {
   .membership__btn {
      padding: 1rem 4rem;
   }
}
