/* default settings for buttons 1*/
.btn {
   border-radius: 5px;
   color: var(--color-secondary);
   background-color: var(--color-primary);
   text-transform: uppercase;
   padding: 1rem 10rem;
   border: none;
   cursor: pointer;
   transition: all 0.3s ease;
}

.btn:hover {
   color: var(--color-tertiary);
}

/* Home - Hero btn cta */
.btn--main {
   position: relative;
   display: inline-block;
   margin-top: 2rem;
   padding: 1rem 1.5rem;
   font-size: 2rem;
   border: 5px solid var(--color-secondary);
   border-radius: 10px;
   overflow: hidden;
   background-color: transparent;
}

.btn--main:hover {
   background-color: transparent;
}

.btn--main::after {
   content: "";
   width: 0%;
   height: 110%;
   border-radius: 10px;
   left: -10px;
   top: 0;
   background-color: var(--color-primary);
   position: absolute;
   transition: all 0.5s ease;
   z-index: -1;
}

.btn--main:hover::after {
   width: 120%;
}

/* Home - Membership section buttons */
.btn--memberships {
   display: inline-block;
   margin: 1rem 0 3rem 0;
}

/* Home - Feed section buttons */
.feed_btn {
   position: absolute;
   top: 50%;
   height: 5.5rem;
   width: 4rem;
   padding: 1rem;
   font-size: 3.25rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

.feed_btn--left {
   left: 10%;
   transform: translate(-50%, -50%);
}

.feed_btn--right {
   right: 10%;
   transform: translate(50%, -50%);
}

/* Locations - local btns */
.btn--local {
   width: 100%;
   display: inline-block;
   transition: all 0.3s ease;
   border-radius: 0px 0px 5px 5px;
}

/* Create account - form btns */
.account__btn {
   width: 190px;
   margin-top: 3rem;
   padding: 1rem;
   transition: all 0.3s ease;
}

/* Close contact modal buttons */
.modal__btn--close {
   position: absolute;
   right: 7px;
   top: 30px;
   border-radius: 5px;
   border: none;
   cursor: pointer;
   width: 3rem;
   font-size: 2rem;
   color: var(--color-primary);
   border: 1px solid transparent;
   transition: all 0.2s ease;
}

.modal__btn--close:hover {
   transform: scale(1.1);
   border: 1px solid var(--color-primary);
}

/* Login user buttons */
.login__btn {
   margin-bottom: 0.5rem;
   display: block;
   width: 90%;
   padding: 1rem 2rem;
   letter-spacing: 1px;
   margin: 1rem auto;
}

/*--- MOBILE---*/
.header__icon-menu {
   border: none;
   background-color: transparent;
   cursor: pointer;
   font-size: 3rem;
   display: none;
}

.header__btn--openNav {
   top: 10px;
   left: 10px;
}

.header__btn--closeNav {
   position: absolute;
   right: 12px;
   top: 12px;
}

/*--- Media Query ---*/

@media (max-width: 1050px) {
   /* Create account - form btns */
   .account__btn {
      width: 100%;
   }
}

@media (max-width: 600px) {
   /* Home - Feed section buttons */
   .feed_btn--left {
      left: 5%;
      transform: translate(-50%, -50%);
   }

   .feed_btn--right {
      right: 5%;
      transform: translate(50%, -50%);
   }

   .feed_btn {
      height: 3.5rem;
      width: 3rem;
      font-size: 2rem;
   }
}

@media (max-width: 350px) {
   /* Home - Membership section buttons */
   .btn--memberships {
      padding: 1rem 4rem;
   }
}
