.header__nav--mode {
   margin-left: 1rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

.switch {
   background-color: var(--color-primary);
   border-radius: 50px;
   border: none;
   cursor: pointer;
   position: relative;
   display: flex;
   width: 60px;
   align-items: center;
   height: 25px;
   outline: none;
   display: flex;
   justify-content: space-between;
}

.switch::after {
   content: "";
   display: block;
   width: 25px;
   height: 25px;
   position: absolute;
   background-color: var(--color-secondary-strong);
   top: 0;
   left: unset;
   right: 0;
   border-radius: 100px;
   transition: all 0.5s ease all;
}

.switch.light {
   background-color: rgb(66, 66, 66);
}

.switch.light::after {
   right: unset;
   left: 0;
}

.switch span {
   width: 20px;
   height: 20px;
   line-height: 20px;
   display: block;
   background-color: none;
   color: white;
}

.fas {
   color: var(--color-secondary-strong);
}

/* Light & Dark mode stlye */
body.light {
   background-color: var(--color-secondary);
}

.header__nav.light {
   background-color: var(--color-secondary);
}

.schedules.light {
   color: var(--color-tertiary);
}

.detail__info.light {
   color: var(--color-tertiary);
}

.crowd__bar-meter.light {
   background-image: linear-gradient(var(--color-primary), black);
}

.schedule__inner-top .crowd__tab-day.light {
   color: var(--color-tertiary);
}

.header__nav-desktop .header__link.light {
   color: var(--color-tertiary);
}
