/*--- Navigation ---*/
.header__nav {
   position: absolute;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-around;
   background-color: var(--color-tertiary);
   color: var(--color-secondary-strong);
   padding: 2rem 1rem;
   margin: 0 auto;
}

.header__logo {
   display: flex;
   align-items: center;
   justify-content: center;
}

.logo {
   height: 3rem;
}

.header__nav-desktop {
   display: flex;
}

.header__nav-desktop .header__link {
   text-transform: uppercase;
   display: block;
   font-size: 1.6rem;
   padding: 0 1.5rem;
   color: var(--color-secondary-strong);
}

.header__link--bg {
   background-color: var(--color-primary);
   border-radius: 5px;
   color: var(--color-primary);
}

.header__link:hover {
   color: var(--color-primary);
   transition: 0.3s;
   /* font-weight: normal; */
}

.header__link--bg:hover {
   color: var(--color-tertiary);
}

/* highlight the categorie where we are */
.header__nav-desktop .header__link--selector {
   color: var(--color-primary);
}

/*--- Navigation  sticky---*/
.header__nav.active {
   box-shadow: 0 2px 10px rgba(255, 255, 255, 0.582);
   position: fixed;
   top: 0;
   left: 0;
   transition: all 0.1s linear;
   right: 0;
   z-index: 9;
   max-width: 1800px;
}

/* SIGN IN */

.header__login-ul {
   display: flex;
}

.header__nav-log {
   border-right: 3px solid #ec662dbd;
   padding-right: 1rem;
}

.notSelected {
   font-size: 1.2rem;
}

@media (max-width: 350px) {
   .header__nav {
      justify-content: space-between;
   }

   .logo {
      height: 2.5rem;
   }
}
