.huincha {
   background-color: var(--color-bg-contrast);
   width: 100%;
}

.inner-huincha {
   width: 90%;
   max-width: 1200px;
   margin: auto;
}

.huincha-content--title {
   color: var(--color-primary);
}

@media (max-width: 1050px) {
   /* flash promotion */
   .huincha {
      padding: 2rem 0;
      margin-bottom: 5rem;
   }

   .inner-huincha {
      padding: 1rem 0;
   }

   .huincha-content--title {
      color: var(--color-primary);
      font-size: 2rem;
   }
}
