.newsLetter-back {
   background-color: var(--color-bg-contrast);
   width: 100%;
   margin: 0;
}

.newsletter {
   width: 45%;
   max-width: 420px;
   margin: auto;
   display: flex;
   text-align: center;
   flex-direction: column;
}

.newsletter p {
   font-size: 1.3rem;
   text-align: left;
   margin: 0 auto 0 6rem;
   width: 50%;
}

.newsletter h2 {
   margin-bottom: 1rem;
   font-size: 2rem;
}

.form-row-newsletter {
   margin-bottom: 1rem;
}

.form-row-newsletter input {
   background-color: transparent;
   border: 1px solid white;
   outline: none;
   width: 290px;
   padding: 1rem 0;
   color: white;
   text-align: center;
}

.form-row-newsletter input::placeholder {
   color: white;
   text-align: center;
}

.newsletter-button {
   padding: 1rem;
   background-color: var(--color-primary);
   outline: none;
   color: white;
   font-weight: bold;
   border: 1px solid white;
   cursor: pointer;
   margin-left: 0.3rem;
}

@media (max-width: 1050px) {
   .newsletter {
      padding: 1rem 0;
      width: 90%;
   }

   .form-row-newsletter input {
      max-width: 60%;
   }
}

@media (max-width: 490px) {
   .newsletter p {
      margin: 0 auto;
      width: 100%;
      text-align: center;
   }
}
