/*CSS Stylesheet T.O.C. - Table of contents
Created XX April XXXX
Last update April XX: 


Compatible Browser:
Firefox V.85.0.2 (64-bit)
Chrome V.89.0.4389.90 (Build oficial) (64 bits)
Edge V.89.0.774.54 (Compilación oficial) (64 bits)
Safari V. 


=RESET % CONDITIONAL COMMENT
=GENERAL
=LAYOUT:
=PAGES

      =index

/*--- General ---*/
/*--- Header ---*/
/*--- Navigation ---*/
/*--- Main ---*/
/*--- Aside ---*/
/*--- Footer ---*/
/*--- Revisar ---*/
/*--- Error ---*/
/*--- Media Query ---*/
/*--- Animation CSS ---*/
/* ? FOR REGULAR COMMENTS */

/*--- General ---*/
/*

*/

:root {
   --color-primary: #ec672d;
   --color-secondary: #e7dfdd;
   --color-secondary-strong: white;
   --color-tertiary: #0a0519;
}

* {
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   font-size: 1.8rem;
   margin: 0 auto;
   font-family: "Outfit", sans-serif;
   line-height: 1.6;
   background-color: var(--color-tertiary);
   color: var(--color-secondary);
}

img {
   max-width: 100%;
}

h1,
p,
h2,
h3,
h4 {
   margin: 0;
   padding: 0;
}

ul,
li {
   margin: 0;
   padding: 0;
   list-style: none;
}

a {
   text-decoration: none;
   color: var(--color-secondary);
}

/*--- Header ---*/
.header {
   height: 95vh;
   max-height: 900px;
   background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.884) 20%, rgba(255, 255, 255, 0)),
      url(/_images/hero-images.jpg);
   background-position: 70%;
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 0.5rem;
   /* clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%); */
   position: relative;
   max-width: 180rem;
   margin: 0 auto;
   overflow: hidden;
}

.header-pages {
   background-image: none;
   height: 80px;
   clip-path: none;
}

/*--- Navigation ---*/

/* Categories bar */
.header__navBar {
   position: absolute;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-around;
   background-color: var(--color-tertiary);
   color: var(--color-secondary-strong);
   padding: 2rem 1rem;
   border-radius: 0.5rem 0 0 0.5rem;
}

.header__navBar ul {
   display: flex;
}

.header__navBar ul li {
   font-size: 1.8rem;
}

.header__logo {
   height: 4rem;
}

.header__navBar .logo-btn {
   display: flex;
   align-items: center;
}

.header__navBar ul li:not(:last-child) {
   border-right: 3px solid #ec662dbd;
}

.header__navBar .listItem {
   text-transform: uppercase;
   display: block;
   font-size: 1.6rem;
   padding: 0 1.5rem;
   color: var(--color-secondary-strong);
}

.listItem:hover {
   color: var(--color-primary);
   transition: 0.3s;
}

/* highlight the categorie where we are */
.header__navBar .categorie-selector {
   color: var(--color-primary);
   font-weight: bold;
}

/* Login bar */

.header__login .listItem a {
   color: var(--color-secondary-strong);
}

/* Opacity for language not selected */
.header__login .btnOpacity {
   opacity: 50%;
   font-size: 1.2rem;
}

/*--- Navigation  sticky---*/

.header__navBar.active {
   box-shadow: 0 2px 10px rgba(255, 255, 255, 0.582);
   position: fixed;
   top: 0;
   left: 0;
   transition: all 0.1s linear;
   right: 0;
   padding: 1.5rem;
   z-index: 9;
   max-width: 1800px;
}

/*--- Navigation  mobile---*/

.nav-btn {
   border: none;
   background-color: transparent;
   cursor: pointer;
   font-size: 3rem;
   display: none;
}

.open-btn {
   top: 10px;
   left: 10px;
}

.fa-bars {
   color: white;
}

.nav {
   position: fixed;
   top: 0;
   left: 0;
   height: 100vh;
   transform: translatex(-350px);
   transition: transform 0.2s ease-in-out;
   z-index: 99;
}

.nav.visible {
   transform: translatex(0);
}

.nav-black {
   width: 30%;
   max-width: 290px;
   min-width: 270px;
   transition-delay: 0.1s;
}

.nav-black.visible {
   transition-delay: 0s;
}

.nav-red {
   background-color: var(--color-primary);
   width: 95%;
   transition-delay: 0.2s;
}

.nav-red.visible {
   transition-delay: 0.1s;
}

.nav-white {
   width: 95%;
   position: relative;
   padding: 3rem 1.5rem;
   background-color: var(--color-tertiary);
   transition-delay: 0.3s;
   text-transform: uppercase;
}

.nav-white.visible {
   transition-delay: 0.2s;
}

.close-btn {
   position: absolute;
   right: 12px;
   top: 12px;
}

.fa-times {
   color: white;
}

.nav-black .logo {
   height: 4rem;
}

.nav .list {
   display: block;
   padding-top: 3rem;
}

.nav .list .listItem {
   margin: 0.6rem 0;
}

.inherit-list {
   flex-direction: column;
   margin-left: 2.5rem;
}

.list .inherit-list li {
   font-size: 1.4rem;
}

/* HERO HEADER SECTION */

.header__heroText {
   width: 100%;
   position: absolute;
   top: 50%;
   text-align: center;
   left: 50%;
   transform: translate(-50%, -50%);
   text-transform: uppercase;
   text-align: center;
   max-width: 90%;
}

.hero--title {
   font-size: 7rem;
   color: var(--color-primary);
   text-shadow: 1px 2px 3px rgba(221, 221, 221, 0.555);
   display: block;
   animation: moveInLeft 1s ease-in-out;
   margin: 0 auto;
}

.hero--subtitle {
   font-size: 3rem;
   font-weight: 500;
   letter-spacing: 0.3rem;
   display: block;
   color: var(--color-secondary-strong);
   animation: moveInRight 1s ease-in-out;
   margin: 0 auto;
}

/*--- Animation CSS FOR HERO SECTION---*/
@keyframes moveInLeft {
   0% {
      opacity: 0;
      transform: translateX(-150px);
   }

   80% {
      transform: translateX(10px);
   }

   100% {
      opacity: 1;
      transform: translate(0);
   }
}

@keyframes moveInRight {
   0% {
      opacity: 0;
      transform: translateX(150px);
   }

   80% {
      transform: translateX(-10px);
   }

   100% {
      opacity: 1;
      transform: translate(0);
   }
}

/* CTA btn principal */
.btn-cta {
   position: relative;
   margin-top: 3rem;
   display: inline-block;
   padding: 1rem 1.5rem;
   font-size: 2rem;
   color: var(--color-secondary);
   border: 5px solid var(--color-secondary);
   border-radius: 10px;
   overflow: hidden;
   text-transform: uppercase;
}

.btn-cta::after {
   content: "";
   width: 0%;
   height: 110%;
   border-radius: 10px;
   left: -10px;
   top: 0;
   background-color: var(--color-primary);
   position: absolute;
   transition: all 0.5s ease;
   z-index: -1;
}

.btn-cta:hover::after {
   width: 120%;
}

/*--- Main ---*/
main {
   max-width: 180rem;
   margin: 2rem auto;
   padding: 1rem;
}

.block {
   padding: 4rem 0;
   max-width: 100%;
   text-align: center;
   margin: 0 auto;
   transition: transform 1s, opacity 1s;
   transform: translateY(-3rem);
}

.block--hidden {
   opacity: 0;
   transform: translateY(0);
}

.section-title {
   text-transform: uppercase;
   font-size: 4rem;
   text-align: center;
}

/* SCHEDULE SECTION BIG*/
.schedule {
   text-align: center;
}

/* SCHEDULE SECTION WITH CONTENT */
.schedule-days {
   display: flex;
   justify-content: center;
   margin: 4rem 0;
}

/* left side */
.days-box {
   margin-right: 5rem;
}

.days-box ul .dayItem {
   text-align: left;
}

/* right side */

.inner-crowd-box .box-top {
   border-bottom: 3px solid var(--color-primary);
   padding-bottom: 1rem;
}

.box-top .tab-day {
   margin: 0 2rem;
   color: white;
   background-color: transparent;
   cursor: pointer;
   border: none;
}

.box-top .activeDay {
   transition: all 0.5s ease;
   background-color: var(--color-primary);
   border-radius: 3px;
}

/* OCULTAR LOS QUE NO ESTEN ACTIVE */
.box-medium {
   display: none;
}

.grid-active {
   display: flex;
   min-height: 110px;
   align-items: flex-end;
   justify-content: space-around;
   margin: 0.8rem 0;
   padding-bottom: 0.5rem;
   border-bottom: 2px dashed var(--color-primary);
}

.box-bottom {
   position: relative;
}

.box-bottom span:last-child {
   color: yellow;
   position: absolute;
   left: 0;
   bottom: -30px;
   font-size: 1.4rem;
}

.box-bottom .tab-hours {
   margin: 0 2rem;
}

/* BAR LINES */
.bar {
   height: 10rem;
   border-radius: 3px;
   width: 2rem;
   background-image: linear-gradient(rgba(255, 166, 0, 0.753) 10%, white);
   margin: 0 0.4rem;
}

/* MEMBERSHIPS SECTION */

.memberships-plans {
   text-align: center;
   margin: 5rem 0;
   display: flex;
   justify-content: center;
   color: var(--color-tertiary);
}

.memberships-plans .opacity {
   opacity: 50%;
}

.plans {
   margin: 0 3rem;
   border-radius: 10px;
   margin: 0 3rem;
   padding: 2rem 4rem;
   min-width: 470px;
   background-color: var(--color-secondary);
}

.plans .benefitItem {
   text-align: left;
   position: relative;
}

.fa-check {
   color: var(--color-primary);
   font-size: 1rem;
   font-weight: bold;
   position: absolute;
   left: -15px;
   bottom: 8px;
}

.plan--title {
   color: var(--color-primary);
   font-size: 3rem;
}

sup {
   font-size: 2rem;
   color: var(--color-primary);
}

.disclaimer {
   font-size: 1rem;
   display: block;
   opacity: 50%;
}

.box--price {
   font-size: 4rem;
}

.btn-plans {
   background-color: var(--color-primary);
   color: white;
   padding: 1rem 10rem;
   display: inline-block;
   margin: 2rem 0;
   border-radius: 10px;
}

.btn-plans:hover {
   background-color: #be4612;
}

/* GALLERY SECTION */

.gallery-grid {
   display: grid;
   margin: 0 auto;
   grid-template-columns: repeat(4, 20%);
   grid-template-rows: repeat(2, 50%);
   justify-content: center;
   column-gap: 1.3rem;
   row-gap: 1.3rem;
   max-width: 100%;
   padding: 1rem;
}

.grid-item {
   overflow: hidden;
   position: relative;
   height: 200px;
}

.gallery-photos {
   height: 200px;
   cursor: pointer;
}

.gallery-photos img {
   height: 100%;
   object-fit: cover;
   border-radius: 5px;
   object-position: center;
   width: 100%;
}

.info-photos {
   background-color: rgba(255, 255, 255, 0.692);
   color: var(--color-tertiary);
   text-align: left;
   padding: 1rem;
   max-height: 100%;
   position: absolute;
   border-radius: 0 0 5px 5px;
   transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
   opacity: 0;
   left: 0;
   right: 0;
   bottom: 0;
   transform: translateY(100%);
}

.grid-item:hover .info-photos {
   transform: translateY(0);
   opacity: 1;
}

.info-photos h5 {
   margin: 0;
}

.info-photos p {
   font-size: 1.3rem;
}

/* COOKIE MESSAGE */
.cookie-message {
   background-color: white;
   color: var(--color-tertiary);
   position: fixed;
   bottom: 0;
   padding: 0.6rem 0;
   width: 100%;
   text-align: center;
   text-transform: uppercase;
}

.cookie-message button {
   background-color: var(--color-primary);
   color: var(--color-secondary);
   outline: none;
   border-radius: 5px;
   border: none;
   cursor: pointer;
   padding: 1rem 2rem;
}

/* BACKGROUND VIDEO */

.bg-video {
   margin: 0;
   padding: 0;
}

.video-container {
   width: 80%;
   height: 400px;
   max-height: 500px;
   margin: auto;
   position: relative;
}

.video-background {
   width: 100%;
   height: 400px;
   object-fit: cover;
   margin: auto;
   opacity: 60%;
   border-radius: 10px;
}

/* NEWSLETTER */
.newsLetter-back {
   background-color: #2c1d58;
   width: 100%;
   padding: 2rem 0;
}

.newsletter {
   padding: 1rem 0;
   width: 45%;
   max-width: 600px;
   margin: auto;
   display: flex;
   text-align: center;
   flex-direction: column;
}

.newsletter p {
   font-size: 1.3rem;
}

.newsletter h2 {
   margin-bottom: 1rem;
}

.form-row-newsletter {
   margin-bottom: 1rem;
}

.form-row-newsletter input {
   background-color: transparent;
   border: 1px solid white;
   outline: none;
   width: 290px;
   padding: 1rem 0;
   color: white;
   text-align: center;
}

.form-row-newsletter input::placeholder {
   color: white;
   text-align: center;
}

.newsletter-button {
   padding: 1rem;
   background-color: var(--color-primary);
   outline: none;
   color: white;
   font-weight: bold;
   border: 1px solid white;
   cursor: pointer;
   margin-left: 0.3rem;
}

/* LOCATIONS PAGE */
.locals-grid {
   display: grid;
   max-width: 90%;
   margin: 5rem auto;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(2, 1fr);
   column-gap: 3rem;
   row-gap: 3rem;
}

.local {
   position: relative;
}

.gallery-locals {
   height: 200px;
   cursor: pointer;
   transition: all 0.2s ease-in-out;
   overflow: hidden;
}

.gallery-locals img {
   height: 100%;
   object-fit: cover;
   border-radius: 5px;
   object-position: center;
   transition: all 0.4s ease-in-out;
   width: 100%;
}

.local:hover .gallery-locals img {
   transform: scale(1.1);
   transition: all 0.4s ease-in-out;
}

.local:hover .btn-local {
   background-color: #d64e13;
}

.info-local {
   background-color: white;
   color: var(--color-tertiary);
}

.btn-local {
   background-color: var(--color-primary);
   width: 100%;
   display: inline-block;
   text-transform: uppercase;
   padding: 1rem;
   transition: all 0.3s ease-in-out;
}

/* FOOTER */
footer {
   padding: 1rem;
   background-color: #1f2123;
}

.final-footer {
   display: flex;
   width: 100%;
   margin: 1rem auto 3rem auto;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

/* TOP */

.footer-nav {
   display: flex;
   margin: 2rem 0;
}

.footer-nav li {
   margin: 0 1rem;
}

.footer-nav li a {
   text-transform: uppercase;
   font-size: 2rem;
}

/* MEDIUM  */
.social {
   display: flex;
   margin: 2rem 0;
}

.social li {
   margin: 0 2rem;
   font-size: 3rem;
}

/* BOTTOM */
.copy {
   text-transform: uppercase;
   font-size: 0.7rem;
   letter-spacing: 2px;
}

.copy a {
   text-decoration: underline;
}

/*--- Media Query ---*/
@media (max-width: 1050px) {
   .nav-btn {
      display: block;
   }
   .header__logo {
      height: 3.5rem;
      margin-left: 2rem;
   }

   .item-nav,
   .item-nav li,
   .lagBtn {
      display: none;
   }

   .header__navBar {
      padding: 2rem 0;
   }

   .header__login a {
      font-size: 1.6rem;
   }

   .header__login .listItem {
      padding: 0 1rem;
   }

   .header__navBar ul li:not(:last-child) {
      border: none;
   }

   .header__navBar .item-nav li:last-child {
      display: none;
   }

   main {
      max-width: 97%;
   }

   .section-title {
      font-size: 2rem;
   }

   .schedule-days {
      flex-direction: column;
      margin: 1rem 0;
   }

   .days-box {
      margin: 1rem 0 3rem 0;
   }

   .box-top .tab-day {
      margin: 0 1rem;
   }

   .box-bottom {
      display: flex;
      justify-content: space-between;
   }

   .box-bottom .tab-hours {
      margin: 0;
      font-size: 1.2rem;
   }

   .memberships-plans {
      flex-direction: column;
   }

   .plans {
      margin: 2rem 0;
      min-width: 100%;
   }

   .gallery-grid {
      grid-template-columns: repeat(2, 45%);
      grid-template-rows: repeat(4, 25%);
      height: auto;
   }

   .cookie-message {
      background-color: var(--color-secondary);
      color: var(--color-tertiary);
      font-size: 1.2rem;
      padding: 0.6rem;
   }

   .cookie-message button {
      background-color: var(--color-primary);
      color: var(--color-secondary);
      outline: none;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      padding: 0.5rem 1rem;
   }

   .newsletter {
      padding: 1rem 0;
      width: 90%;
   }

   .form-row-newsletter input {
      background-color: transparent;
      border: 1px solid white;
      outline: none;
      max-width: 60%;
      padding: 1rem 0;
      color: white;
      text-align: center;
   }

   .footer-nav li a {
      font-size: 1.2rem;
   }

   .info-photos {
      background-color: rgba(255, 255, 255, 0.534);
      padding: 0.5rem;
      opacity: 1;
      transform: translateY(0);
   }

   /* LOCALS PAGE */
   .locals-grid {
      display: grid;
      max-width: 90%;
      margin: 3rem auto;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(2, 1fr);
      column-gap: 3rem;
      row-gap: 3rem;
   }
}

/* ? DAY 1 */
.grid-bar-1 .bar:nth-child(1) {
   height: 1rem;
}

.grid-bar-1 .bar:nth-child(2) {
   height: 4rem;
}

.grid-bar-1 .bar:nth-child(3) {
   height: 5rem;
}

.grid-bar-1 .bar:nth-child(4) {
   height: 5rem;
}

.grid-bar-1 .bar:nth-child(5) {
   height: 7rem;
}

.grid-bar-1 .bar:nth-child(6) {
   height: 6rem;
}

.grid-bar-1 .bar:nth-child(7) {
   height: 6rem;
}

.grid-bar-1 .bar:nth-child(8) {
   height: 3rem;
}

.grid-bar-1 .bar:nth-child(9) {
   height: 4rem;
}

.grid-bar-1 .bar:nth-child(10) {
   height: 5rem;
}

.grid-bar-1 .bar:nth-child(11) {
   height: 7rem;
}

.grid-bar-1 .bar:nth-child(12) {
   height: 8rem;
}

.grid-bar-1 .bar:nth-child(13) {
   height: 9rem;
}

.grid-bar-1 .bar:nth-child(14) {
   height: 9rem;
}

.grid-bar-1 .bar:nth-child(15) {
   height: 8rem;
}

.grid-bar-1 .bar:nth-child(16) {
   height: 7rem;
}

.grid-bar-1 .bar:nth-child(17) {
   height: 10rem;
}

.grid-bar-1 .bar:nth-child(18) {
   height: 7rem;
}

.grid-bar-1 .bar:nth-child(19) {
   height: 8rem;
}

.grid-bar-1 .bar:nth-child(20) {
   height: 1rem;
}

.grid-bar-1 .bar:nth-child(21) {
   height: 0.5rem;
}

.grid-bar-1 .bar:nth-child(22) {
   height: 0.5rem;
}

.grid-bar-1 .bar:nth-child(23) {
   height: 0.5rem;
}

.grid-bar-1 .bar:nth-child(24) {
   height: 0.5rem;
}

/* ? DAY 2 */
.grid-bar-2 .bar:nth-child(1) {
   height: 1rem;
}

.grid-bar-2 .bar:nth-child(2) {
   height: 5rem;
}

.grid-bar-2 .bar:nth-child(3) {
   height: 5rem;
}

.grid-bar-2 .bar:nth-child(4) {
   height: 6rem;
}

.grid-bar-2 .bar:nth-child(5) {
   height: 8rem;
}

.grid-bar-2 .bar:nth-child(6) {
   height: 6rem;
}

.grid-bar-2 .bar:nth-child(7) {
   height: 5rem;
}

.grid-bar-2 .bar:nth-child(8) {
   height: 4rem;
}

.grid-bar-2 .bar:nth-child(9) {
   height: 3rem;
}

.grid-bar-2 .bar:nth-child(10) {
   height: 3rem;
}

.grid-bar-2 .bar:nth-child(11) {
   height: 5rem;
}

.grid-bar-2 .bar:nth-child(12) {
   height: 4rem;
}

.grid-bar-2 .bar:nth-child(13) {
   height: 9rem;
}

.grid-bar-2 .bar:nth-child(14) {
   height: 9rem;
}

.grid-bar-2 .bar:nth-child(15) {
   height: 8rem;
}

.grid-bar-2 .bar:nth-child(16) {
   height: 8rem;
}

.grid-bar-2 .bar:nth-child(17) {
   height: 7rem;
}

.grid-bar-2 .bar:nth-child(18) {
   height: 7rem;
}

.grid-bar-2 .bar:nth-child(19) {
   height: 4rem;
}

.grid-bar-2 .bar:nth-child(20) {
   height: 2rem;
}

.grid-bar-2 .bar:nth-child(21) {
   height: 0.5rem;
}

.grid-bar-2 .bar:nth-child(22) {
   height: 0.5rem;
}

.grid-bar-2 .bar:nth-child(23) {
   height: 0.5rem;
}

.grid-bar-2 .bar:nth-child(24) {
   height: 0.5rem;
}

/* ? DAY 3 */
.grid-bar-3 .bar:nth-child(1) {
   height: 1rem;
}

.grid-bar-3 .bar:nth-child(2) {
   height: 5rem;
}

.grid-bar-3 .bar:nth-child(3) {
   height: 3rem;
}

.grid-bar-3 .bar:nth-child(4) {
   height: 5rem;
}

.grid-bar-3 .bar:nth-child(5) {
   height: 5rem;
}

.grid-bar-3 .bar:nth-child(6) {
   height: 5rem;
}

.grid-bar-3 .bar:nth-child(7) {
   height: 5rem;
}

.grid-bar-3 .bar:nth-child(8) {
   height: 2rem;
}

.grid-bar-3 .bar:nth-child(9) {
   height: 3rem;
}

.grid-bar-3 .bar:nth-child(10) {
   height: 4rem;
}

.grid-bar-3 .bar:nth-child(11) {
   height: 4rem;
}

.grid-bar-3 .bar:nth-child(12) {
   height: 4rem;
}

.grid-bar-3 .bar:nth-child(13) {
   height: 9rem;
}

.grid-bar-3 .bar:nth-child(14) {
   height: 7rem;
}

.grid-bar-3 .bar:nth-child(15) {
   height: 8rem;
}

.grid-bar-3 .bar:nth-child(16) {
   height: 6rem;
}

.grid-bar-3 .bar:nth-child(17) {
   height: 7rem;
}

.grid-bar-3 .bar:nth-child(18) {
   height: 4rem;
}

.grid-bar-3 .bar:nth-child(19) {
   height: 5rem;
}

.grid-bar-3 .bar:nth-child(20) {
   height: 2rem;
}

.grid-bar-3 .bar:nth-child(21) {
   height: 0.5rem;
}

.grid-bar-3 .bar:nth-child(22) {
   height: 0.5rem;
}

.grid-bar-3 .bar:nth-child(23) {
   height: 0.5rem;
}

.grid-bar-3 .bar:nth-child(24) {
   height: 0.5rem;
}

/* ? DAY 4 */
.grid-bar-4 .bar:nth-child(1) {
   height: 1rem;
}

.grid-bar-4 .bar:nth-child(2) {
   height: 5rem;
}

.grid-bar-4 .bar:nth-child(3) {
   height: 2rem;
}

.grid-bar-4 .bar:nth-child(4) {
   height: 4rem;
}

.grid-bar-4 .bar:nth-child(5) {
   height: 5rem;
}

.grid-bar-4 .bar:nth-child(6) {
   height: 5rem;
}

.grid-bar-4 .bar:nth-child(7) {
   height: 8rem;
}

.grid-bar-4 .bar:nth-child(8) {
   height: 5rem;
}

.grid-bar-4 .bar:nth-child(9) {
   height: 5rem;
}

.grid-bar-4 .bar:nth-child(10) {
   height: 7rem;
}

.grid-bar-4 .bar:nth-child(11) {
   height: 7rem;
}

.grid-bar-4 .bar:nth-child(12) {
   height: 7rem;
}

.grid-bar-4 .bar:nth-child(13) {
   height: 9rem;
}

.grid-bar-4 .bar:nth-child(14) {
   height: 7rem;
}

.grid-bar-4 .bar:nth-child(15) {
   height: 8rem;
}

.grid-bar-4 .bar:nth-child(16) {
   height: 4rem;
}

.grid-bar-4 .bar:nth-child(17) {
   height: 7rem;
}

.grid-bar-4 .bar:nth-child(18) {
   height: 4rem;
}

.grid-bar-4 .bar:nth-child(19) {
   height: 3rem;
}

.grid-bar-4 .bar:nth-child(20) {
   height: 1rem;
}

.grid-bar-4 .bar:nth-child(21) {
   height: 0.5rem;
}

.grid-bar-4 .bar:nth-child(22) {
   height: 0.5rem;
}

.grid-bar-4 .bar:nth-child(23) {
   height: 0.5rem;
}

.grid-bar-4 .bar:nth-child(24) {
   height: 0.5rem;
}

/* ? DAY 5 */
.grid-bar-5 .bar:nth-child(1) {
   height: 1rem;
}

.grid-bar-5 .bar:nth-child(2) {
   height: 3rem;
}

.grid-bar-5 .bar:nth-child(3) {
   height: 1rem;
}

.grid-bar-5 .bar:nth-child(4) {
   height: 4rem;
}

.grid-bar-5 .bar:nth-child(5) {
   height: 5rem;
}

.grid-bar-5 .bar:nth-child(6) {
   height: 3rem;
}

.grid-bar-5 .bar:nth-child(7) {
   height: 5rem;
}

.grid-bar-5 .bar:nth-child(8) {
   height: 5rem;
}

.grid-bar-5 .bar:nth-child(9) {
   height: 5rem;
}

.grid-bar-5 .bar:nth-child(10) {
   height: 7rem;
}

.grid-bar-5 .bar:nth-child(11) {
   height: 6rem;
}

.grid-bar-5 .bar:nth-child(12) {
   height: 8rem;
}

.grid-bar-5 .bar:nth-child(13) {
   height: 8rem;
}

.grid-bar-5 .bar:nth-child(14) {
   height: 8rem;
}

.grid-bar-5 .bar:nth-child(15) {
   height: 8rem;
}

.grid-bar-5 .bar:nth-child(16) {
   height: 8rem;
}

.grid-bar-5 .bar:nth-child(17) {
   height: 8rem;
}

.grid-bar-5 .bar:nth-child(18) {
   height: 6rem;
}

.grid-bar-5 .bar:nth-child(19) {
   height: 6rem;
}

.grid-bar-5 .bar:nth-child(20) {
   height: 6rem;
}

.grid-bar-5 .bar:nth-child(21) {
   height: 0.5rem;
}

.grid-bar-5 .bar:nth-child(22) {
   height: 0.5rem;
}

.grid-bar-5 .bar:nth-child(23) {
   height: 0.5rem;
}

.grid-bar-5 .bar:nth-child(24) {
   height: 0.5rem;
}

/* ? DAY 6 */
.grid-bar-6 .bar:nth-child(1) {
   height: 1rem;
}

.grid-bar-6 .bar:nth-child(2) {
   height: 5rem;
}

.grid-bar-6 .bar:nth-child(3) {
   height: 3rem;
}

.grid-bar-6 .bar:nth-child(4) {
   height: 5rem;
}

.grid-bar-6 .bar:nth-child(5) {
   height: 5rem;
}

.grid-bar-6 .bar:nth-child(6) {
   height: 5rem;
}

.grid-bar-6 .bar:nth-child(7) {
   height: 5rem;
}

.grid-bar-6 .bar:nth-child(8) {
   height: 2rem;
}

.grid-bar-6 .bar:nth-child(9) {
   height: 3rem;
}

.grid-bar-6 .bar:nth-child(10) {
   height: 6rem;
}

.grid-bar-6 .bar:nth-child(11) {
   height: 6rem;
}

.grid-bar-6 .bar:nth-child(12) {
   height: 6rem;
}

.grid-bar-6 .bar:nth-child(13) {
   height: 9rem;
}

.grid-bar-6 .bar:nth-child(14) {
   height: 7rem;
}

.grid-bar-6 .bar:nth-child(15) {
   height: 8rem;
}

.grid-bar-6 .bar:nth-child(16) {
   height: 6rem;
}

.grid-bar-6 .bar:nth-child(17) {
   height: 7rem;
}

.grid-bar-6 .bar:nth-child(18) {
   height: 4rem;
}

.grid-bar-6 .bar:nth-child(19) {
   height: 5rem;
}

.grid-bar-6 .bar:nth-child(20) {
   height: 2rem;
}

.grid-bar-6 .bar:nth-child(21) {
   height: 0.5rem;
}

.grid-bar-6 .bar:nth-child(22) {
   height: 0.5rem;
}

.grid-bar-6 .bar:nth-child(23) {
   height: 0.5rem;
}

.grid-bar-6 .bar:nth-child(24) {
   height: 0.5rem;
}

/* ? DAY 7 */
.grid-bar-7 .bar:nth-child(1) {
   height: 1rem;
}

.grid-bar-7 .bar:nth-child(2) {
   height: 5rem;
}

.grid-bar-7 .bar:nth-child(3) {
   height: 5rem;
}

.grid-bar-7 .bar:nth-child(4) {
   height: 5rem;
}

.grid-bar-7 .bar:nth-child(5) {
   height: 5rem;
}

.grid-bar-7 .bar:nth-child(6) {
   height: 5rem;
}

.grid-bar-7 .bar:nth-child(7) {
   height: 5rem;
}

.grid-bar-7 .bar:nth-child(8) {
   height: 4rem;
}

.grid-bar-7 .bar:nth-child(9) {
   height: 3rem;
}

.grid-bar-7 .bar:nth-child(10) {
   height: 4rem;
}

.grid-bar-7 .bar:nth-child(11) {
   height: 4rem;
}

.grid-bar-7 .bar:nth-child(12) {
   height: 4rem;
}

.grid-bar-7 .bar:nth-child(13) {
   height: 9rem;
}

.grid-bar-7 .bar:nth-child(14) {
   height: 7rem;
}

.grid-bar-7 .bar:nth-child(15) {
   height: 8rem;
}

.grid-bar-7 .bar:nth-child(16) {
   height: 6rem;
}

.grid-bar-7 .bar:nth-child(17) {
   height: 7rem;
}

.grid-bar-7 .bar:nth-child(18) {
   height: 4rem;
}

.grid-bar-7 .bar:nth-child(19) {
   height: 9rem;
}

.grid-bar-7 .bar:nth-child(20) {
   height: 2rem;
}

.grid-bar-7 .bar:nth-child(21) {
   height: 0.5rem;
}

.grid-bar-7 .bar:nth-child(22) {
   height: 0.5rem;
}

.grid-bar-7 .bar:nth-child(23) {
   height: 0.5rem;
}

.grid-bar-7 .bar:nth-child(24) {
   height: 0.5rem;
}
