/* Unico para el home */
.header--home {
   height: 95vh;
   max-height: 900px;
   background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.884) 20%, rgba(255, 255, 255, 0)),
      url(/images/sliders/hero-images.jpg);
   background-position: 70%;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   max-width: 180rem;
   margin: 0 auto;
}

/* HERO HEADER SECTION */
.header__content {
   width: 100%;
   position: absolute;
   top: 50%;
   text-align: center;
   left: 50%;
   transform: translate(-50%, -50%);
   text-transform: uppercase;
   text-align: center;
   max-width: 90%;
}

.header__title {
   font-size: 7rem;
   color: var(--color-primary);
   text-shadow: 1px 2px 3px rgba(221, 221, 221, 0.555);
   display: block;
   animation: moveInLeft 1s ease-in-out;
   margin: 0 auto;
}

.header__subtitle {
   font-size: 3rem;
   font-weight: 500;
   letter-spacing: 0.3rem;
   color: var(--color-secondary-strong);
   animation: moveInRight 1s ease-in-out;
   margin: 0 auto;
}

/* SCHEDULE SECTION BIG*/
.schedule__content {
   display: flex;
   justify-content: center;
}

/* left side */
.schedule__days {
   margin-right: 5rem;
}

.schedule__item {
   text-align: left;
}

/* right side */

.schedule__inner .schedule__inner-top {
   border-bottom: 3px solid var(--color-primary);
   padding-bottom: 1rem;
}

.schedule__inner-top .crowd__tab-day {
   margin: 0 2rem;
   color: white;
   background-color: transparent;
   cursor: pointer;
   border: none;
}

.schedule__inner-top .crowd__tab-day--active {
   transition: all 0.5s ease;
   background-color: var(--color-primary);
   border-radius: 3px;
}

/* OCULTAR LOS QUE NO ESTEN ACTIVE */
.schedule__inner-medium {
   display: none;
}

.group__bar--active {
   display: flex;
   min-height: 110px;
   align-items: flex-end;
   justify-content: space-around;
   margin: 0.8rem 0;
   padding-bottom: 0.5rem;
   border-bottom: 2px dashed var(--color-primary);
}

.schedule__inner-bottom {
   position: relative;
}

.detail__info--yellow {
   bottom: -30px;
   color: var(--color-info);
}

.schedule__inner-bottom .schedule__tab-hour {
   margin: 0 2rem;
}

/* BAR LINES */
.crowd__bar-meter {
   height: 10rem;
   border-radius: 3px;
   width: 2rem;
   background-image: linear-gradient(rgba(255, 166, 0, 0.753) 10%, white);
   margin: 0 0.4rem;
}

/* ? DAY 1 */
.group__bar-1 .crowd__bar-meter:nth-child(1) {
   height: 1rem;
}

.group__bar-1 .crowd__bar-meter:nth-child(2) {
   height: 4rem;
}

.group__bar-1 .crowd__bar-meter:nth-child(3) {
   height: 5rem;
}

.group__bar-1 .crowd__bar-meter:nth-child(4) {
   height: 5rem;
}

.group__bar-1 .crowd__bar-meter:nth-child(5) {
   height: 7rem;
}

.group__bar-1 .crowd__bar-meter:nth-child(6) {
   height: 6rem;
}

.group__bar-1 .crowd__bar-meter:nth-child(7) {
   height: 6rem;
}

.group__bar-1 .crowd__bar-meter:nth-child(8) {
   height: 3rem;
}

.group__bar-1 .crowd__bar-meter:nth-child(9) {
   height: 4rem;
}

.group__bar-1 .crowd__bar-meter:nth-child(10) {
   height: 5rem;
}

.group__bar-1 .crowd__bar-meter:nth-child(11) {
   height: 7rem;
}

.group__bar-1 .crowd__bar-meter:nth-child(12) {
   height: 8rem;
}

.group__bar-1 .crowd__bar-meter:nth-child(13) {
   height: 9rem;
}

.group__bar-1 .crowd__bar-meter:nth-child(14) {
   height: 9rem;
}

.group__bar-1 .crowd__bar-meter:nth-child(15) {
   height: 8rem;
}

.group__bar-1 .crowd__bar-meter:nth-child(16) {
   height: 7rem;
}

.group__bar-1 .crowd__bar-meter:nth-child(17) {
   height: 10rem;
}

.group__bar-1 .crowd__bar-meter:nth-child(18) {
   height: 7rem;
}

.group__bar-1 .crowd__bar-meter:nth-child(19) {
   height: 8rem;
}

.group__bar-1 .crowd__bar-meter:nth-child(20) {
   height: 1rem;
}

.group__bar-1 .crowd__bar-meter:nth-child(21) {
   height: 0.5rem;
}

.group__bar-1 .crowd__bar-meter:nth-child(22) {
   height: 0.5rem;
}

.group__bar-1 .crowd__bar-meter:nth-child(23) {
   height: 0.5rem;
}

.group__bar-1 .crowd__bar-meter:nth-child(24) {
   height: 0.5rem;
}

/* ? DAY 2 */
.group__bar-2 .crowd__bar-meter:nth-child(1) {
   height: 1rem;
}

.group__bar-2 .crowd__bar-meter:nth-child(2) {
   height: 5rem;
}

.group__bar-2 .crowd__bar-meter:nth-child(3) {
   height: 5rem;
}

.group__bar-2 .crowd__bar-meter:nth-child(4) {
   height: 6rem;
}

.group__bar-2 .crowd__bar-meter:nth-child(5) {
   height: 8rem;
}

.group__bar-2 .crowd__bar-meter:nth-child(6) {
   height: 6rem;
}

.group__bar-2 .crowd__bar-meter:nth-child(7) {
   height: 5rem;
}

.group__bar-2 .crowd__bar-meter:nth-child(8) {
   height: 4rem;
}

.group__bar-2 .crowd__bar-meter:nth-child(9) {
   height: 3rem;
}

.group__bar-2 .crowd__bar-meter:nth-child(10) {
   height: 3rem;
}

.group__bar-2 .crowd__bar-meter:nth-child(11) {
   height: 5rem;
}

.group__bar-2 .crowd__bar-meter:nth-child(12) {
   height: 4rem;
}

.group__bar-2 .crowd__bar-meter:nth-child(13) {
   height: 9rem;
}

.group__bar-2 .crowd__bar-meter:nth-child(14) {
   height: 9rem;
}

.group__bar-2 .crowd__bar-meter:nth-child(15) {
   height: 8rem;
}

.group__bar-2 .crowd__bar-meter:nth-child(16) {
   height: 8rem;
}

.group__bar-2 .crowd__bar-meter:nth-child(17) {
   height: 7rem;
}

.group__bar-2 .crowd__bar-meter:nth-child(18) {
   height: 7rem;
}

.group__bar-2 .crowd__bar-meter:nth-child(19) {
   height: 4rem;
}

.group__bar-2 .crowd__bar-meter:nth-child(20) {
   height: 2rem;
}

.group__bar-2 .crowd__bar-meter:nth-child(21) {
   height: 0.5rem;
}

.group__bar-2 .crowd__bar-meter:nth-child(22) {
   height: 0.5rem;
}

.group__bar-2 .crowd__bar-meter:nth-child(23) {
   height: 0.5rem;
}

.group__bar-2 .crowd__bar-meter:nth-child(24) {
   height: 0.5rem;
}

/* ? DAY 3 */
.group__bar-3 .crowd__bar-meter:nth-child(1) {
   height: 1rem;
}

.group__bar-3 .crowd__bar-meter:nth-child(2) {
   height: 5rem;
}

.group__bar-3 .crowd__bar-meter:nth-child(3) {
   height: 3rem;
}

.group__bar-3 .crowd__bar-meter:nth-child(4) {
   height: 5rem;
}

.group__bar-3 .crowd__bar-meter:nth-child(5) {
   height: 5rem;
}

.group__bar-3 .crowd__bar-meter:nth-child(6) {
   height: 5rem;
}

.group__bar-3 .crowd__bar-meter:nth-child(7) {
   height: 5rem;
}

.group__bar-3 .crowd__bar-meter:nth-child(8) {
   height: 2rem;
}

.group__bar-3 .crowd__bar-meter:nth-child(9) {
   height: 3rem;
}

.group__bar-3 .crowd__bar-meter:nth-child(10) {
   height: 4rem;
}

.group__bar-3 .crowd__bar-meter:nth-child(11) {
   height: 4rem;
}

.group__bar-3 .crowd__bar-meter:nth-child(12) {
   height: 4rem;
}

.group__bar-3 .crowd__bar-meter:nth-child(13) {
   height: 9rem;
}

.group__bar-3 .crowd__bar-meter:nth-child(14) {
   height: 7rem;
}

.group__bar-3 .crowd__bar-meter:nth-child(15) {
   height: 8rem;
}

.group__bar-3 .crowd__bar-meter:nth-child(16) {
   height: 6rem;
}

.group__bar-3 .crowd__bar-meter:nth-child(17) {
   height: 7rem;
}

.group__bar-3 .crowd__bar-meter:nth-child(18) {
   height: 4rem;
}

.group__bar-3 .crowd__bar-meter:nth-child(19) {
   height: 5rem;
}

.group__bar-3 .crowd__bar-meter:nth-child(20) {
   height: 2rem;
}

.group__bar-3 .crowd__bar-meter:nth-child(21) {
   height: 0.5rem;
}

.group__bar-3 .crowd__bar-meter:nth-child(22) {
   height: 0.5rem;
}

.group__bar-3 .crowd__bar-meter:nth-child(23) {
   height: 0.5rem;
}

.group__bar-3 .crowd__bar-meter:nth-child(24) {
   height: 0.5rem;
}

/* ? DAY 4 */
.group__bar-4 .crowd__bar-meter:nth-child(1) {
   height: 1rem;
}

.group__bar-4 .crowd__bar-meter:nth-child(2) {
   height: 5rem;
}

.group__bar-4 .crowd__bar-meter:nth-child(3) {
   height: 2rem;
}

.group__bar-4 .crowd__bar-meter:nth-child(4) {
   height: 4rem;
}

.group__bar-4 .crowd__bar-meter:nth-child(5) {
   height: 5rem;
}

.group__bar-4 .crowd__bar-meter:nth-child(6) {
   height: 5rem;
}

.group__bar-4 .crowd__bar-meter:nth-child(7) {
   height: 8rem;
}

.group__bar-4 .crowd__bar-meter:nth-child(8) {
   height: 5rem;
}

.group__bar-4 .crowd__bar-meter:nth-child(9) {
   height: 5rem;
}

.group__bar-4 .crowd__bar-meter:nth-child(10) {
   height: 7rem;
}

.group__bar-4 .crowd__bar-meter:nth-child(11) {
   height: 7rem;
}

.group__bar-4 .crowd__bar-meter:nth-child(12) {
   height: 7rem;
}

.group__bar-4 .crowd__bar-meter:nth-child(13) {
   height: 9rem;
}

.group__bar-4 .crowd__bar-meter:nth-child(14) {
   height: 7rem;
}

.group__bar-4 .crowd__bar-meter:nth-child(15) {
   height: 8rem;
}

.group__bar-4 .crowd__bar-meter:nth-child(16) {
   height: 4rem;
}

.group__bar-4 .crowd__bar-meter:nth-child(17) {
   height: 7rem;
}

.group__bar-4 .crowd__bar-meter:nth-child(18) {
   height: 4rem;
}

.group__bar-4 .crowd__bar-meter:nth-child(19) {
   height: 3rem;
}

.group__bar-4 .crowd__bar-meter:nth-child(20) {
   height: 1rem;
}

.group__bar-4 .crowd__bar-meter:nth-child(21) {
   height: 0.5rem;
}

.group__bar-4 .crowd__bar-meter:nth-child(22) {
   height: 0.5rem;
}

.group__bar-4 .crowd__bar-meter:nth-child(23) {
   height: 0.5rem;
}

.group__bar-4 .crowd__bar-meter:nth-child(24) {
   height: 0.5rem;
}

/* ? DAY 5 */
.group__bar-5 .crowd__bar-meter:nth-child(1) {
   height: 1rem;
}

.group__bar-5 .crowd__bar-meter:nth-child(2) {
   height: 3rem;
}

.group__bar-5 .crowd__bar-meter:nth-child(3) {
   height: 1rem;
}

.group__bar-5 .crowd__bar-meter:nth-child(4) {
   height: 4rem;
}

.group__bar-5 .crowd__bar-meter:nth-child(5) {
   height: 5rem;
}

.group__bar-5 .crowd__bar-meter:nth-child(6) {
   height: 3rem;
}

.group__bar-5 .crowd__bar-meter:nth-child(7) {
   height: 5rem;
}

.group__bar-5 .crowd__bar-meter:nth-child(8) {
   height: 5rem;
}

.group__bar-5 .crowd__bar-meter:nth-child(9) {
   height: 5rem;
}

.group__bar-5 .crowd__bar-meter:nth-child(10) {
   height: 7rem;
}

.group__bar-5 .crowd__bar-meter:nth-child(11) {
   height: 6rem;
}

.group__bar-5 .crowd__bar-meter:nth-child(12) {
   height: 8rem;
}

.group__bar-5 .crowd__bar-meter:nth-child(13) {
   height: 8rem;
}

.group__bar-5 .crowd__bar-meter:nth-child(14) {
   height: 8rem;
}

.group__bar-5 .crowd__bar-meter:nth-child(15) {
   height: 8rem;
}

.group__bar-5 .crowd__bar-meter:nth-child(16) {
   height: 8rem;
}

.group__bar-5 .crowd__bar-meter:nth-child(17) {
   height: 8rem;
}

.group__bar-5 .crowd__bar-meter:nth-child(18) {
   height: 6rem;
}

.group__bar-5 .crowd__bar-meter:nth-child(19) {
   height: 6rem;
}

.group__bar-5 .crowd__bar-meter:nth-child(20) {
   height: 6rem;
}

.group__bar-5 .crowd__bar-meter:nth-child(21) {
   height: 0.5rem;
}

.group__bar-5 .crowd__bar-meter:nth-child(22) {
   height: 0.5rem;
}

.group__bar-5 .crowd__bar-meter:nth-child(23) {
   height: 0.5rem;
}

.group__bar-5 .crowd__bar-meter:nth-child(24) {
   height: 0.5rem;
}

/* ? DAY 6 */
.group__bar-6 .crowd__bar-meter:nth-child(1) {
   height: 1rem;
}

.group__bar-6 .crowd__bar-meter:nth-child(2) {
   height: 5rem;
}

.group__bar-6 .crowd__bar-meter:nth-child(3) {
   height: 3rem;
}

.group__bar-6 .crowd__bar-meter:nth-child(4) {
   height: 5rem;
}

.group__bar-6 .crowd__bar-meter:nth-child(5) {
   height: 5rem;
}

.group__bar-6 .crowd__bar-meter:nth-child(6) {
   height: 5rem;
}

.group__bar-6 .crowd__bar-meter:nth-child(7) {
   height: 5rem;
}

.group__bar-6 .crowd__bar-meter:nth-child(8) {
   height: 2rem;
}

.group__bar-6 .crowd__bar-meter:nth-child(9) {
   height: 3rem;
}

.group__bar-6 .crowd__bar-meter:nth-child(10) {
   height: 6rem;
}

.group__bar-6 .crowd__bar-meter:nth-child(11) {
   height: 6rem;
}

.group__bar-6 .crowd__bar-meter:nth-child(12) {
   height: 6rem;
}

.group__bar-6 .crowd__bar-meter:nth-child(13) {
   height: 9rem;
}

.group__bar-6 .crowd__bar-meter:nth-child(14) {
   height: 7rem;
}

.group__bar-6 .crowd__bar-meter:nth-child(15) {
   height: 8rem;
}

.group__bar-6 .crowd__bar-meter:nth-child(16) {
   height: 6rem;
}

.group__bar-6 .crowd__bar-meter:nth-child(17) {
   height: 7rem;
}

.group__bar-6 .crowd__bar-meter:nth-child(18) {
   height: 4rem;
}

.group__bar-6 .crowd__bar-meter:nth-child(19) {
   height: 5rem;
}

.group__bar-6 .crowd__bar-meter:nth-child(20) {
   height: 2rem;
}

.group__bar-6 .crowd__bar-meter:nth-child(21) {
   height: 0.5rem;
}

.group__bar-6 .crowd__bar-meter:nth-child(22) {
   height: 0.5rem;
}

.group__bar-6 .crowd__bar-meter:nth-child(23) {
   height: 0.5rem;
}

.group__bar-6 .crowd__bar-meter:nth-child(24) {
   height: 0.5rem;
}

/* ? DAY 7 */
.group__bar-7 .crowd__bar-meter:nth-child(1) {
   height: 1rem;
}

.group__bar-7 .crowd__bar-meter:nth-child(2) {
   height: 5rem;
}

.group__bar-7 .crowd__bar-meter:nth-child(3) {
   height: 5rem;
}

.group__bar-7 .crowd__bar-meter:nth-child(4) {
   height: 5rem;
}

.group__bar-7 .crowd__bar-meter:nth-child(5) {
   height: 5rem;
}

.group__bar-7 .crowd__bar-meter:nth-child(6) {
   height: 5rem;
}

.group__bar-7 .crowd__bar-meter:nth-child(7) {
   height: 5rem;
}

.group__bar-7 .crowd__bar-meter:nth-child(8) {
   height: 4rem;
}

.group__bar-7 .crowd__bar-meter:nth-child(9) {
   height: 3rem;
}

.group__bar-7 .crowd__bar-meter:nth-child(10) {
   height: 4rem;
}

.group__bar-7 .crowd__bar-meter:nth-child(11) {
   height: 4rem;
}

.group__bar-7 .crowd__bar-meter:nth-child(12) {
   height: 4rem;
}

.group__bar-7 .crowd__bar-meter:nth-child(13) {
   height: 9rem;
}

.group__bar-7 .crowd__bar-meter:nth-child(14) {
   height: 7rem;
}

.group__bar-7 .crowd__bar-meter:nth-child(15) {
   height: 8rem;
}

.group__bar-7 .crowd__bar-meter:nth-child(16) {
   height: 6rem;
}

.group__bar-7 .crowd__bar-meter:nth-child(17) {
   height: 7rem;
}

.group__bar-7 .crowd__bar-meter:nth-child(18) {
   height: 4rem;
}

.group__bar-7 .crowd__bar-meter:nth-child(19) {
   height: 9rem;
}

.group__bar-7 .crowd__bar-meter:nth-child(20) {
   height: 2rem;
}

.group__bar-7 .crowd__bar-meter:nth-child(21) {
   height: 0.5rem;
}

.group__bar-7 .crowd__bar-meter:nth-child(22) {
   height: 0.5rem;
}

.group__bar-7 .crowd__bar-meter:nth-child(23) {
   height: 0.5rem;
}

.group__bar-7 .crowd__bar-meter:nth-child(24) {
   height: 0.5rem;
}

/* MEMBERSHIPS SECTION */
.membership__content {
   text-align: center;
   display: flex;
   justify-content: center;
   color: var(--color-tertiary);
}

.membership__plans {
   margin: 0 3rem;
   border-radius: 10px;
   margin: 0 3rem;
   padding: 2rem 4rem;
   min-width: 470px;
   background-color: var(--color-secondary);
}

.membership__plans .membership__item {
   text-align: left;
   position: relative;
}

.fa-check {
   color: var(--color-primary);
   font-size: 1rem;
   font-weight: bold;
   position: absolute;
   left: -15px;
   bottom: 8px;
}

.membership__title {
   color: var(--color-primary);
   font-size: 3rem;
   margin: 0;
}

.membership__subtitle {
   margin: 0;
}

sup {
   font-size: 2rem;
   color: var(--color-primary);
}

.membership__disclaimer {
   font-size: 1rem;
   display: block;
   opacity: 50%;
}

.membership__price {
   font-size: 4rem;
}

/* BACKGROUND VIDEO */

.background-video {
   padding-bottom: 0;
}

.background-video__content {
   width: 80%;
   height: 400px;
   max-height: 500px;
   margin: auto;
   position: relative;
}

.video__background {
   width: 100%;
   height: 400px;
   object-fit: cover;
   margin: auto;
   opacity: 60%;
   border-radius: 10px;
}

/* GALLERY SECTION */
.gallery__grid {
   display: grid;
   margin: 0 auto;
   grid-template-columns: repeat(4, 20%);
   grid-template-rows: repeat(2, 50%);
   justify-content: center;
   column-gap: 1.3rem;
   row-gap: 1.3rem;
   max-width: 100%;
   padding: 1rem;
}

.gallery__element {
   overflow: hidden;
   position: relative;
   height: 200px;
}

.gallery__photos {
   height: 200px;
   cursor: pointer;
}

.gallery__photos img {
   height: 100%;
   object-fit: cover;
   border-radius: 5px;
   object-position: center;
   width: 100%;
}

.gallery__info {
   background-color: rgba(255, 255, 255, 0.692);
   color: var(--color-tertiary);
   text-align: left;
   padding: 1rem;
   max-height: 100%;
   position: absolute;
   border-radius: 0 0 5px 5px;
   transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
   opacity: 0;
   left: 0;
   right: 0;
   bottom: 0;
   transform: translateY(100%);
}

.gallery__element:hover .gallery__info {
   transform: translateY(0);
   opacity: 1;
}

.info__title {
   margin: 0;
}

.info__text {
   font-size: 1.3rem;
}

/* feed SECTION */
.feed__carrousel {
   max-width: 1800px;
   height: 40rem;
   margin: 0 auto;
   position: relative;
   overflow: hidden;
}

.feed__slider {
   position: absolute;
   top: 0;
   width: 100%;
   display: flex;
   height: 40rem;
   align-items: center;
   justify-content: center;
   /* THIS creates the animation! */
   transition: transform 1s;
}

/* the sections for each grid */
.feed__slider-section {
   display: grid;
   column-gap: 3rem;
   grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
   width: 100%;
   max-width: 1800px;
}

.feed__post {
   box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.329);
   border: 1px solid rgba(196, 196, 196, 0.212);
   border-radius: 10px;
   padding: 1rem;
}

.feed_photo {
   height: 30rem;
}

.feed_photo img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.feed_user {
   color: var(--color-primary);
   margin: 1rem 0;
}

/* HOME - Hall of fame */
.feed_btn {
   position: absolute;
   top: 50%;
   border: none;
   height: 5.5rem;
   background-color: var(--color-primary);
   width: 4rem;
   color: var(--color-secondary);
   font-size: 3.25rem;
   cursor: pointer;
}

.feed_btn:hover {
   background-color: #be4612;
}

.feed_btn--left {
   left: 10%;
   transform: translate(-50%, -50%);
}

.feed_btn--right {
   right: 10%;
   transform: translate(50%, -50%);
}

@media (max-width: 1050px) {
   /* Gym schedule */
   .schedule__content {
      flex-direction: column;
      margin: 1rem 0;
   }

   .schedule__inner-bottom {
      display: flex;
      justify-content: space-around;
      width: 100%;
   }

   .schedule__inner-bottom .schedule__tab-hour {
      margin: 0rem;
      font-size: 1.2rem;
   }

   /* Memberships section */
   .membership__content {
      flex-direction: column;
   }

   .membership__plans {
      margin: 2rem 0;
      min-width: 100%;
   }

   /* Gallery of classes  */
   .gallery__grid {
      grid-template-columns: repeat(2, 45%);
      grid-template-rows: repeat(4, 25%);
      height: auto;
   }

   .gallery__info {
      background-color: rgba(255, 255, 255, 0.534);
      padding: 0.5rem;
      opacity: 1;
      transform: translateY(0);
   }
}

@media (max-width: 600px) {
   /* Carrousel Hall of fame */
   .feed__slider-section {
      column-gap: 1rem;
      grid-template-columns: 1fr 3fr 3fr 1fr;
   }

   .feed__post-item-3 {
      display: none;
   }

   .feed_btn--left {
      left: 5%;
      transform: translate(-50%, -50%);
   }

   .feed_btn--right {
      right: 5%;
      transform: translate(50%, -50%);
   }

   .feed_btn {
      height: 3.5rem;
      background-color: var(--color-primary);
      width: 3rem;
      color: var(--color-secondary);
      font-size: 2rem;
      cursor: pointer;
   }

   .feed_user {
      font-size: 1.2rem;
   }

   .schedule__inner-top .crowd__tab-day {
      margin: 0;
   }
}
