/* Unico para el home */
.headerHome {
   height: 95vh;
   max-height: 900px;
   background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.884) 20%, rgba(255, 255, 255, 0)),
      url(/images/sliders/hero-images.jpg);
   background-position: 70%;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   max-width: 180rem;
   margin: 0 auto;
}

/* SCHEDULE SECTION BIG*/
.schedule-content {
   display: flex;
   justify-content: center;
}

/* left side */
.days-box {
   margin-right: 5rem;
}

.dayItem {
   text-align: left;
}

/* right side */

.inner-crowd-content .crowd-top {
   border-bottom: 3px solid var(--color-primary);
   padding-bottom: 1rem;
}

.crowd-top .tab-day {
   margin: 0 2rem;
   color: white;
   background-color: transparent;
   cursor: pointer;
   border: none;
}

.crowd-top .activeDay {
   transition: all 0.5s ease;
   background-color: var(--color-primary);
   border-radius: 3px;
}

/* OCULTAR LOS QUE NO ESTEN ACTIVE */
.crowd-medium {
   display: none;
}

.grid-active {
   display: flex;
   min-height: 110px;
   align-items: flex-end;
   justify-content: space-around;
   margin: 0.8rem 0;
   padding-bottom: 0.5rem;
   border-bottom: 2px dashed var(--color-primary);
}

.crowd-bottom {
   position: relative;
}

.crowd-bottom span:last-child {
   position: absolute;
   left: 0;
   bottom: -30px;
   font-size: 1.4rem;
   color: var(--color-info);
}

.crowd-bottom .tab-hours {
   margin: 0 2rem;
}

/* BAR LINES */
.bar {
   height: 10rem;
   border-radius: 3px;
   width: 2rem;
   background-image: linear-gradient(rgba(255, 166, 0, 0.753) 10%, white);
   margin: 0 0.4rem;
}

/* ? DAY 1 */
.grid-bar-1 .bar:nth-child(1) {
   height: 1rem;
}

.grid-bar-1 .bar:nth-child(2) {
   height: 4rem;
}

.grid-bar-1 .bar:nth-child(3) {
   height: 5rem;
}

.grid-bar-1 .bar:nth-child(4) {
   height: 5rem;
}

.grid-bar-1 .bar:nth-child(5) {
   height: 7rem;
}

.grid-bar-1 .bar:nth-child(6) {
   height: 6rem;
}

.grid-bar-1 .bar:nth-child(7) {
   height: 6rem;
}

.grid-bar-1 .bar:nth-child(8) {
   height: 3rem;
}

.grid-bar-1 .bar:nth-child(9) {
   height: 4rem;
}

.grid-bar-1 .bar:nth-child(10) {
   height: 5rem;
}

.grid-bar-1 .bar:nth-child(11) {
   height: 7rem;
}

.grid-bar-1 .bar:nth-child(12) {
   height: 8rem;
}

.grid-bar-1 .bar:nth-child(13) {
   height: 9rem;
}

.grid-bar-1 .bar:nth-child(14) {
   height: 9rem;
}

.grid-bar-1 .bar:nth-child(15) {
   height: 8rem;
}

.grid-bar-1 .bar:nth-child(16) {
   height: 7rem;
}

.grid-bar-1 .bar:nth-child(17) {
   height: 10rem;
}

.grid-bar-1 .bar:nth-child(18) {
   height: 7rem;
}

.grid-bar-1 .bar:nth-child(19) {
   height: 8rem;
}

.grid-bar-1 .bar:nth-child(20) {
   height: 1rem;
}

.grid-bar-1 .bar:nth-child(21) {
   height: 0.5rem;
}

.grid-bar-1 .bar:nth-child(22) {
   height: 0.5rem;
}

.grid-bar-1 .bar:nth-child(23) {
   height: 0.5rem;
}

.grid-bar-1 .bar:nth-child(24) {
   height: 0.5rem;
}

/* ? DAY 2 */
.grid-bar-2 .bar:nth-child(1) {
   height: 1rem;
}

.grid-bar-2 .bar:nth-child(2) {
   height: 5rem;
}

.grid-bar-2 .bar:nth-child(3) {
   height: 5rem;
}

.grid-bar-2 .bar:nth-child(4) {
   height: 6rem;
}

.grid-bar-2 .bar:nth-child(5) {
   height: 8rem;
}

.grid-bar-2 .bar:nth-child(6) {
   height: 6rem;
}

.grid-bar-2 .bar:nth-child(7) {
   height: 5rem;
}

.grid-bar-2 .bar:nth-child(8) {
   height: 4rem;
}

.grid-bar-2 .bar:nth-child(9) {
   height: 3rem;
}

.grid-bar-2 .bar:nth-child(10) {
   height: 3rem;
}

.grid-bar-2 .bar:nth-child(11) {
   height: 5rem;
}

.grid-bar-2 .bar:nth-child(12) {
   height: 4rem;
}

.grid-bar-2 .bar:nth-child(13) {
   height: 9rem;
}

.grid-bar-2 .bar:nth-child(14) {
   height: 9rem;
}

.grid-bar-2 .bar:nth-child(15) {
   height: 8rem;
}

.grid-bar-2 .bar:nth-child(16) {
   height: 8rem;
}

.grid-bar-2 .bar:nth-child(17) {
   height: 7rem;
}

.grid-bar-2 .bar:nth-child(18) {
   height: 7rem;
}

.grid-bar-2 .bar:nth-child(19) {
   height: 4rem;
}

.grid-bar-2 .bar:nth-child(20) {
   height: 2rem;
}

.grid-bar-2 .bar:nth-child(21) {
   height: 0.5rem;
}

.grid-bar-2 .bar:nth-child(22) {
   height: 0.5rem;
}

.grid-bar-2 .bar:nth-child(23) {
   height: 0.5rem;
}

.grid-bar-2 .bar:nth-child(24) {
   height: 0.5rem;
}

/* ? DAY 3 */
.grid-bar-3 .bar:nth-child(1) {
   height: 1rem;
}

.grid-bar-3 .bar:nth-child(2) {
   height: 5rem;
}

.grid-bar-3 .bar:nth-child(3) {
   height: 3rem;
}

.grid-bar-3 .bar:nth-child(4) {
   height: 5rem;
}

.grid-bar-3 .bar:nth-child(5) {
   height: 5rem;
}

.grid-bar-3 .bar:nth-child(6) {
   height: 5rem;
}

.grid-bar-3 .bar:nth-child(7) {
   height: 5rem;
}

.grid-bar-3 .bar:nth-child(8) {
   height: 2rem;
}

.grid-bar-3 .bar:nth-child(9) {
   height: 3rem;
}

.grid-bar-3 .bar:nth-child(10) {
   height: 4rem;
}

.grid-bar-3 .bar:nth-child(11) {
   height: 4rem;
}

.grid-bar-3 .bar:nth-child(12) {
   height: 4rem;
}

.grid-bar-3 .bar:nth-child(13) {
   height: 9rem;
}

.grid-bar-3 .bar:nth-child(14) {
   height: 7rem;
}

.grid-bar-3 .bar:nth-child(15) {
   height: 8rem;
}

.grid-bar-3 .bar:nth-child(16) {
   height: 6rem;
}

.grid-bar-3 .bar:nth-child(17) {
   height: 7rem;
}

.grid-bar-3 .bar:nth-child(18) {
   height: 4rem;
}

.grid-bar-3 .bar:nth-child(19) {
   height: 5rem;
}

.grid-bar-3 .bar:nth-child(20) {
   height: 2rem;
}

.grid-bar-3 .bar:nth-child(21) {
   height: 0.5rem;
}

.grid-bar-3 .bar:nth-child(22) {
   height: 0.5rem;
}

.grid-bar-3 .bar:nth-child(23) {
   height: 0.5rem;
}

.grid-bar-3 .bar:nth-child(24) {
   height: 0.5rem;
}

/* ? DAY 4 */
.grid-bar-4 .bar:nth-child(1) {
   height: 1rem;
}

.grid-bar-4 .bar:nth-child(2) {
   height: 5rem;
}

.grid-bar-4 .bar:nth-child(3) {
   height: 2rem;
}

.grid-bar-4 .bar:nth-child(4) {
   height: 4rem;
}

.grid-bar-4 .bar:nth-child(5) {
   height: 5rem;
}

.grid-bar-4 .bar:nth-child(6) {
   height: 5rem;
}

.grid-bar-4 .bar:nth-child(7) {
   height: 8rem;
}

.grid-bar-4 .bar:nth-child(8) {
   height: 5rem;
}

.grid-bar-4 .bar:nth-child(9) {
   height: 5rem;
}

.grid-bar-4 .bar:nth-child(10) {
   height: 7rem;
}

.grid-bar-4 .bar:nth-child(11) {
   height: 7rem;
}

.grid-bar-4 .bar:nth-child(12) {
   height: 7rem;
}

.grid-bar-4 .bar:nth-child(13) {
   height: 9rem;
}

.grid-bar-4 .bar:nth-child(14) {
   height: 7rem;
}

.grid-bar-4 .bar:nth-child(15) {
   height: 8rem;
}

.grid-bar-4 .bar:nth-child(16) {
   height: 4rem;
}

.grid-bar-4 .bar:nth-child(17) {
   height: 7rem;
}

.grid-bar-4 .bar:nth-child(18) {
   height: 4rem;
}

.grid-bar-4 .bar:nth-child(19) {
   height: 3rem;
}

.grid-bar-4 .bar:nth-child(20) {
   height: 1rem;
}

.grid-bar-4 .bar:nth-child(21) {
   height: 0.5rem;
}

.grid-bar-4 .bar:nth-child(22) {
   height: 0.5rem;
}

.grid-bar-4 .bar:nth-child(23) {
   height: 0.5rem;
}

.grid-bar-4 .bar:nth-child(24) {
   height: 0.5rem;
}

/* ? DAY 5 */
.grid-bar-5 .bar:nth-child(1) {
   height: 1rem;
}

.grid-bar-5 .bar:nth-child(2) {
   height: 3rem;
}

.grid-bar-5 .bar:nth-child(3) {
   height: 1rem;
}

.grid-bar-5 .bar:nth-child(4) {
   height: 4rem;
}

.grid-bar-5 .bar:nth-child(5) {
   height: 5rem;
}

.grid-bar-5 .bar:nth-child(6) {
   height: 3rem;
}

.grid-bar-5 .bar:nth-child(7) {
   height: 5rem;
}

.grid-bar-5 .bar:nth-child(8) {
   height: 5rem;
}

.grid-bar-5 .bar:nth-child(9) {
   height: 5rem;
}

.grid-bar-5 .bar:nth-child(10) {
   height: 7rem;
}

.grid-bar-5 .bar:nth-child(11) {
   height: 6rem;
}

.grid-bar-5 .bar:nth-child(12) {
   height: 8rem;
}

.grid-bar-5 .bar:nth-child(13) {
   height: 8rem;
}

.grid-bar-5 .bar:nth-child(14) {
   height: 8rem;
}

.grid-bar-5 .bar:nth-child(15) {
   height: 8rem;
}

.grid-bar-5 .bar:nth-child(16) {
   height: 8rem;
}

.grid-bar-5 .bar:nth-child(17) {
   height: 8rem;
}

.grid-bar-5 .bar:nth-child(18) {
   height: 6rem;
}

.grid-bar-5 .bar:nth-child(19) {
   height: 6rem;
}

.grid-bar-5 .bar:nth-child(20) {
   height: 6rem;
}

.grid-bar-5 .bar:nth-child(21) {
   height: 0.5rem;
}

.grid-bar-5 .bar:nth-child(22) {
   height: 0.5rem;
}

.grid-bar-5 .bar:nth-child(23) {
   height: 0.5rem;
}

.grid-bar-5 .bar:nth-child(24) {
   height: 0.5rem;
}

/* ? DAY 6 */
.grid-bar-6 .bar:nth-child(1) {
   height: 1rem;
}

.grid-bar-6 .bar:nth-child(2) {
   height: 5rem;
}

.grid-bar-6 .bar:nth-child(3) {
   height: 3rem;
}

.grid-bar-6 .bar:nth-child(4) {
   height: 5rem;
}

.grid-bar-6 .bar:nth-child(5) {
   height: 5rem;
}

.grid-bar-6 .bar:nth-child(6) {
   height: 5rem;
}

.grid-bar-6 .bar:nth-child(7) {
   height: 5rem;
}

.grid-bar-6 .bar:nth-child(8) {
   height: 2rem;
}

.grid-bar-6 .bar:nth-child(9) {
   height: 3rem;
}

.grid-bar-6 .bar:nth-child(10) {
   height: 6rem;
}

.grid-bar-6 .bar:nth-child(11) {
   height: 6rem;
}

.grid-bar-6 .bar:nth-child(12) {
   height: 6rem;
}

.grid-bar-6 .bar:nth-child(13) {
   height: 9rem;
}

.grid-bar-6 .bar:nth-child(14) {
   height: 7rem;
}

.grid-bar-6 .bar:nth-child(15) {
   height: 8rem;
}

.grid-bar-6 .bar:nth-child(16) {
   height: 6rem;
}

.grid-bar-6 .bar:nth-child(17) {
   height: 7rem;
}

.grid-bar-6 .bar:nth-child(18) {
   height: 4rem;
}

.grid-bar-6 .bar:nth-child(19) {
   height: 5rem;
}

.grid-bar-6 .bar:nth-child(20) {
   height: 2rem;
}

.grid-bar-6 .bar:nth-child(21) {
   height: 0.5rem;
}

.grid-bar-6 .bar:nth-child(22) {
   height: 0.5rem;
}

.grid-bar-6 .bar:nth-child(23) {
   height: 0.5rem;
}

.grid-bar-6 .bar:nth-child(24) {
   height: 0.5rem;
}

/* ? DAY 7 */
.grid-bar-7 .bar:nth-child(1) {
   height: 1rem;
}

.grid-bar-7 .bar:nth-child(2) {
   height: 5rem;
}

.grid-bar-7 .bar:nth-child(3) {
   height: 5rem;
}

.grid-bar-7 .bar:nth-child(4) {
   height: 5rem;
}

.grid-bar-7 .bar:nth-child(5) {
   height: 5rem;
}

.grid-bar-7 .bar:nth-child(6) {
   height: 5rem;
}

.grid-bar-7 .bar:nth-child(7) {
   height: 5rem;
}

.grid-bar-7 .bar:nth-child(8) {
   height: 4rem;
}

.grid-bar-7 .bar:nth-child(9) {
   height: 3rem;
}

.grid-bar-7 .bar:nth-child(10) {
   height: 4rem;
}

.grid-bar-7 .bar:nth-child(11) {
   height: 4rem;
}

.grid-bar-7 .bar:nth-child(12) {
   height: 4rem;
}

.grid-bar-7 .bar:nth-child(13) {
   height: 9rem;
}

.grid-bar-7 .bar:nth-child(14) {
   height: 7rem;
}

.grid-bar-7 .bar:nth-child(15) {
   height: 8rem;
}

.grid-bar-7 .bar:nth-child(16) {
   height: 6rem;
}

.grid-bar-7 .bar:nth-child(17) {
   height: 7rem;
}

.grid-bar-7 .bar:nth-child(18) {
   height: 4rem;
}

.grid-bar-7 .bar:nth-child(19) {
   height: 9rem;
}

.grid-bar-7 .bar:nth-child(20) {
   height: 2rem;
}

.grid-bar-7 .bar:nth-child(21) {
   height: 0.5rem;
}

.grid-bar-7 .bar:nth-child(22) {
   height: 0.5rem;
}

.grid-bar-7 .bar:nth-child(23) {
   height: 0.5rem;
}

.grid-bar-7 .bar:nth-child(24) {
   height: 0.5rem;
}

/* MEMBERSHIPS SECTION */
.memberships-plans {
   text-align: center;
   display: flex;
   justify-content: center;
   color: var(--color-tertiary);
}

.memberships-plans .opacity {
   opacity: 50%;
}

.plans {
   margin: 0 3rem;
   border-radius: 10px;
   margin: 0 3rem;
   padding: 2rem 4rem;
   min-width: 470px;
   background-color: var(--color-secondary);
}

.plans .benefitItem {
   text-align: left;
   position: relative;
}

.fa-check {
   color: var(--color-primary);
   font-size: 1rem;
   font-weight: bold;
   position: absolute;
   left: -15px;
   bottom: 8px;
}

.plan--title {
   color: var(--color-primary);
   font-size: 3rem;
   margin: 0;
}

.plan--subtitle {
   margin: 0;
}

sup {
   font-size: 2rem;
   color: var(--color-primary);
}

.disclaimer {
   font-size: 1rem;
   display: block;
   opacity: 50%;
}

.box--price {
   font-size: 4rem;
}

/* BACKGROUND VIDEO */

.bg-video {
   padding-bottom: 0;
}

.video-container {
   width: 80%;
   height: 400px;
   max-height: 500px;
   margin: auto;
   position: relative;
}

.video-background {
   width: 100%;
   height: 400px;
   object-fit: cover;
   margin: auto;
   opacity: 60%;
   border-radius: 10px;
}

/* GALLERY SECTION */
.gallery-grid {
   display: grid;
   margin: 0 auto;
   grid-template-columns: repeat(4, 20%);
   grid-template-rows: repeat(2, 50%);
   justify-content: center;
   column-gap: 1.3rem;
   row-gap: 1.3rem;
   max-width: 100%;
   padding: 1rem;
}

.grid-item {
   overflow: hidden;
   position: relative;
   height: 200px;
}

.gallery-photos {
   height: 200px;
   cursor: pointer;
}

.gallery-photos img {
   height: 100%;
   object-fit: cover;
   border-radius: 5px;
   object-position: center;
   width: 100%;
}

.info-photos {
   background-color: rgba(255, 255, 255, 0.692);
   color: var(--color-tertiary);
   text-align: left;
   padding: 1rem;
   max-height: 100%;
   position: absolute;
   border-radius: 0 0 5px 5px;
   transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
   opacity: 0;
   left: 0;
   right: 0;
   bottom: 0;
   transform: translateY(100%);
}

.grid-item:hover .info-photos {
   transform: translateY(0);
   opacity: 1;
}

.info-photos h5 {
   margin: 0;
}

.info-photos p {
   font-size: 1.3rem;
}

/* TESTIMONIES SECTION */
.grid__slider-box {
   max-width: 1800px;
   height: 40rem;
   margin: 0 auto;
   position: relative;
   overflow: hidden;
}

.slide-grid {
   position: absolute;
   top: 0;
   width: 100%;
   display: flex;
   height: 40rem;
   align-items: center;
   justify-content: center;
   /* THIS creates the animation! */
   transition: transform 1s;
}

/* the sections for each grid */
.slide__section {
   display: grid;
   column-gap: 3rem;
   grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
   width: 100%;
   max-width: 1800px;
}

.grid-product {
   box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.329);
   border: 1px solid rgba(196, 196, 196, 0.212);
   border-radius: 10px;
   padding: 1rem;
}

.image-of-people {
   height: 30rem;
}

.image-of-people img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.grid-title-post {
   color: var(--color-primary);
   margin: 1rem 0;
}

/* HOME - Hall of fame */
.grid__btn {
   position: absolute;
   top: 50%;
   border: none;
   height: 5.5rem;
   background-color: var(--color-primary);
   width: 4rem;
   color: var(--color-secondary);
   font-size: 3.25rem;
   cursor: pointer;
}

.grid__btn:hover {
   background-color: #be4612;
}

.grid__btn--left {
   left: 10%;
   transform: translate(-50%, -50%);
}

.grid__btn--right {
   right: 10%;
   transform: translate(50%, -50%);
}

@media (max-width: 600px) {
   .schedule-content {
      display: block;
   }

   .slide__section {
      column-gap: 1rem;
      grid-template-columns: 1fr 2fr 2fr 1fr;
      overflow: hidden;
   }

   .grid-product-item-3 {
      display: none;
   }

   .grid__btn--left {
      left: 5%;
      transform: translate(-50%, -50%);
   }

   .grid__btn--right {
      right: 5%;
      transform: translate(50%, -50%);
   }

   .grid__btn {
      height: 3.5rem;
      background-color: var(--color-primary);
      width: 3rem;
      color: var(--color-secondary);
      font-size: 2rem;
      cursor: pointer;
   }

   .grid-title-post {
      font-size: 1.5rem;
   }

   .crowd-bottom {
      display: flex;
      justify-content: space-around;
      align-items: center;
   }

   .crowd-bottom .tab-hours {
      margin: 0;
      font-size: 1.4rem;
   }
}
