/* LOCATIONS PAGE */
.locals-grid {
   display: grid;
   max-width: 90%;
   margin: 0 auto;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(2, 1fr);
   column-gap: 3rem;
   row-gap: 3rem;
}

.local {
   position: relative;
}

.gallery-locals {
   height: 200px;
   cursor: pointer;
   transition: all 0.2s ease-in-out;
   overflow: hidden;
}

.gallery-locals img {
   height: 100%;
   object-fit: cover;
   border-radius: 5px;
   object-position: center;
   transition: all 0.4s ease-in-out;
   width: 100%;
}

.local:hover .gallery-locals img {
   transform: scale(1.1);
   transition: all 0.4s ease-in-out;
}

.info-local {
   background-color: white;
   color: var(--color-tertiary);
}

.info-gyms {
   margin: 0;
}
