.new-account {
   margin: 4rem auto;
   padding: 2rem;
   border-radius: 5px;
   background-color: var(--color-secondary);
}

.new-account__form {
   border: 2px solid var(--color-primary);
   border-radius: 5px;
   width: 700px;
   max-width: 95%;
   padding: 2rem 4rem;
   margin: 3rem auto;
   color: var(--color-tertiary);
}

.new-account__row {
   border: none;
   margin: 1rem 0;
   display: flex;
   height: 100px;
   flex-direction: column;
}

.new-account__label {
   text-align: left;
   margin-left: 3rem;
   position: relative;
}

.new-account__label::after {
   position: absolute;
   content: "*";
   color: red;
}

.new-account__input {
   width: 90%;
   margin: 0 auto;
   padding: 1rem;
   border-radius: 5px;
   border: none;
   height: 50px;
}

.new-account__row .error__message {
   text-align: left;
   margin-left: 3rem;
   font-size: 1.4rem;
   max-height: 0;
   color: red;
   overflow: hidden;
   font-style: italic;
   transition: all 0.4s;
}

.new-account__input:invalid ~ .error__message {
   max-height: 100px;
}

@media (max-width: 800px) {
   .new-account__form {
      padding: 1rem;
   }

   .new-account__label {
      margin-left: 2rem;
   }

   .new-account__row--message {
      height: 140px;
   }

   .new-account__row .error__message {
      margin-left: 2rem;
   }
}
