body {
   font-size: 1.8rem;
   font-family: "Outfit", sans-serif;
   line-height: 1.6;
   color: var(--color-secondary);
}

p::selection,
h2::selection,
h3::selection {
   background-color: var(--color-primary);
   color: var(--color-tertiary);
}

a {
   text-decoration: none;
   color: var(--color-secondary);
}

.heading-primary {
   text-transform: uppercase;
   font-size: 4rem;
   text-align: center;
   margin: 2rem;
}

.heading-primary::selection {
   background-color: var(--color-primary);
   color: var(--color-tertiary);
}

.heading-secondary {
   margin: 1rem;
}
