.block {
   padding: 4rem 0;
   max-width: 100%;
   text-align: center;
   margin: 4rem auto;
   transition: transform 1s, opacity 1s;
   transform: translateY(-3rem);
}

.text-section {
   text-align: left;
   background-color: var(--color-secondary);
   color: var(--color-tertiary);
   width: 90%;
   border-radius: 5px;
   padding: 2rem;
}

.text-section .heading-secondary {
   font-weight: bold;
}

/* To generate de faded effect */
.block--hidden {
   opacity: 0;
   transform: translateY(0);
}

/* To reduce visibility of some elements */
.opacity {
   opacity: 50%;
}

/* Detail info */
.detail__info {
   position: absolute;
   font-size: 1.4rem;
   left: 0;
}

/* regular text */
.regular-text {
   margin: 2rem auto;
}

main {
   max-width: 180rem;
   padding: 1rem;
   margin: 0 auto;
}

/*--- Media Query ---*/
@media (max-width: 1050px) {
   main {
      max-width: 98%;
      margin: 0 auto;
   }
}
